.header {
    background-color: #333333;
}
.main-menu {
    display: flex;
    list-style: none;
    justify-items: center;
}
.main-menu li {
    padding: 0px 10px;
    position: relative;
}
.main-menu li:hover {
    background-color: #FE0F00;
} 

.main-menu li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 10px; 
}
.sub-menu {
    position: absolute;
    background-color: #fff;
    display: none;
}
.sub-menu li{
    padding: 7px 0;
    margin-left: 8px;
}
.main-menu li:hover .sub-menu {
    display: block;
    list-style: none;
    color: #333333;
    padding: 15px 13px;
    padding-right: 60px;
    margin-left: -10px;
    font-weight: 500;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}