/* header infor */
.header__infor {
    height: 60px;
    border: 1px solid black;
    display: flex;
}
.header__infor--phone {
    display: flex;
}
.header__infor--icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 140px;
    margin-right: 25px;
}
.header__infor--img {
    margin-top: 20px;
}
.header__infor--list1 {
    flex-basis: 20%;
    display: flex;
    justify-content: center;
}
.header__infor--list2 {
    border: 1px solid black;
    border-top: 0px;
    border-bottom: 0px;
    flex-basis: 60%;
    display: flex;
    justify-content: space-between;
}
.header__infor--list3 {
    border: 1px solid black;
    border-left: 0px;
    border-top: 0px;
    border-bottom: 0px;
    flex-basis: 10%;
    display: flex;
    justify-content: center;
}
.header__infor--list4 {
    display: flex;
    justify-content: center;
    flex-basis: 10%;
}
.header__infor--item1 {
    padding: 0 10px;
    margin: auto 0;
}
.header__infor--item2 {
    padding: 0 10px;
    margin: auto;
}
.header__infor--item3 {
    margin-top: 15px;
    margin-left: 10px;
    padding: 0 10px 0 5px;
}
.header__infor--item4 {
    margin-top: 15px;
    margin-left: 10px;
    padding: 0 10px;
}
/* header second */
.header__second {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_second--logo {
    flex-basis: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__second--search {
    flex-basis: 50%;
    width: 400px;
    height: 50px;
    border: 1px solid black;
    display: flex;
}
.header__second--cart {
    flex-basis: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__second--img {
    max-width: 100px;
}
.header--search {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 12px;
}
.header--selection {
    display: flex;
    align-items: center;
}
.header--option--icon {
    padding: 5px 20px 5px 10px;
    border-right: 1px solid rgb(147, 147, 147);
}
.header--option {
    padding-left: 20px; 
} 
.header--search--btn {
 background-color: #CF0A2C;
 border: none;
 width: 50px;
}
.header--search--btn--icon {
    color: white;
    font-size: 1rem;
}
/* header menu */
.header__menu {
    height: 60px;
    background-color: #CF0A2C;
}
.header_menu--list {
    height: 60px;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.header_menu--item {
    padding: 16px 50px;
    border-left: 1px solid white;
    color: white;
}
.header_menu--a { 
    text-decoration: none;
    color: white;
}
.header_menu--a:hover {
    color: white;
}
.header_menu--item:hover {
    background-color: #b90620;
    position: relative;
}
.sub--menu {
    padding-top: 40px;
    list-style: none;
}
.sub--menu li {
    padding: 10px 0; 
}
/* content-house */
.content__house { 
    height: 45px;
    border-bottom: 1px solid rgb(89, 89, 89);
}
.content__house--list {
    display: flex;
    list-style: none;
    margin-top: 22px;
    margin-left: 320px;
}
.content__house--list li {
    padding: 0 5px;
    color: black;
}
/* house product */
.product--thumb {
    display: block;
    position: relative;
    overflow: hidden;
}
.product--thumb:hover .buy-now {
    bottom: 5px;
} 
.product--thumb img {
    width: 400px;
}
.house--products {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    margin-top: 100px;
    list-style: none;
}
.house--products li {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.product--infor a {
    display: block;
    text-decoration: none; 
}
.product--infor {
    text-align: center;
    padding: 10px 0px;
}
.product--infor_men {
    color: rgb(89, 89, 89);
    text-transform: uppercase;
    font-size: 13px;
    padding: 5px 0px;
}
.product--infor_men:hover {
    color: #b90620;
}
.product--name {
    color: black;
    padding: 5px 0px;
}
.product--name:hover {
    text-decoration: underline;
    color: black;
}
.product-price {
    color: #b90620;
    font-weight: 400;
}
.buy-now {
    display: flex;
    justify-content: space-around;
    max-width: 150px;
    position: absolute;
    width: 100%;
    background-color: #fff;
    margin-left: 120px;
    padding-top: 10px;
}
.heart-sale {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    padding: 20px 20px;
}
.main-content {
    min-height: 1800px;
}
/* footter */
.footer-infor {
    display: flex;
    justify-content: space-around;
    padding: 50px 0px;
    background-color: rgb(25,25,25);
    color: #fff;
    border-bottom: 1px solid #cecece;

}
.footer {
    width: 100%;
    height: 500px;
}
.footer--logo {
    display: flex;
    justify-content: space-around;
    background-color: rgb(0,0,0);
    padding: 7px 0px;
}
.footer--logo img {
    width: 200px;
    height: 100px;
}
.footer-infor_list1 {
    list-style: none;
}
.footer-infor_list2 {
    list-style: none;
}
.footer-infor_list3 {
    list-style: none;
}
.footer-infor_list4 {
    list-style: none;
}
.footer-name{
    height: 70px;
    background-color: rgb(25,25,25);
}
.subscirbe {
    display: flex;
}
.footer-name_item img {
    width: 50px;
    height: 30px;
}
.footer-name_list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.footer-name_list li {
    margin: 20px 30px;
}